.container {
	width: 2.5rem; /* 40px */
	height: 2.5rem; /* 40px */

	&:focus {
		outline: 0;
	}
}

.line {
	height: 0.125rem; /* 2px */
	width: 1.375rem; /* 22px */
	transform-origin: 50% 50%;
	transition: transform 300ms ease-in-out, opacity 300ms ease,
		background-color 300ms ease;
}

.topClosed {
	transform: translateY(-0.4375rem);
}

.topOpen {
	transform: rotate(45deg);
}

.middleOpen {
	transform: scale(0, 1);
	opacity: 0;
}

.bottomClosed {
	transform: translateY(0.4375rem);
}

.bottomOpen {
	transform: rotate(-45deg);
}
